/* Style de la photo */
#photo-corentin {
    border-radius: 50%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}

@media only screen and (min-width: 1200px) {
    #photo-corentin {
        display: flex;
    }
}
@media only screen and (max-width: 1200px) {
    #photo-corentin {
        display: none;
    }
}

/* Style du titre de la page */
@media only screen and (min-width: 1200px) {
    #titre-home {

        margin-top: 100px;
    }
}
@media only screen and (max-width: 1200px) {
    #titre-home {
        margin-top: 30px;
    }
}

/* Style des cards */
.card-header {
    background-color: #008b8b;
    color: #333;
}

.card {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}

@media screen and (min-width: 1200px) {
    .cardDeck {
        display: flex;
        margin-top: 100px;
        justify-content: center;
        width: 100vw;
    }

    .cardDeck .card {
        width: 500px;
        height: 400px;
    }

    #card1 {
        margin-right: 30px;
        margin-left: 15px;
    }

    #card2 {
        margin-left: 30px;
    }
}

@media only screen and (max-width: 1200px) {
    .cardDeck {
        display: flex;
        margin-top: 30px;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #card1 {
        width: 80vw;
    }

    #card2 {
        width: 80vw;
    }

    .card {
        width: 80vw;
    }

    #card1 .card{
        height: 450px;
        overflow: auto;
    }

    #card2 .card{
        margin-top: 30px;
        height: 400px;
        overflow: auto;
    }
}

/* Style de la liste des skills */
ul li a {
    color: white;
    text-decoration: underline;
}
ul li a:hover {
    text-decoration: none;
    color: darkcyan;
}


/* Style du footer */
.education-footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,139,139,0.8);
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.education-footer:hover {
    background-color: rgba(0,139,139,1);
}