.card-header {
    background-color: #008b8b;
    color: #333;
}

.educationFooter {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,139,139,0.8);
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

educationFooter:hover {
    background-color: rgba(0,139,139,1);
}

@media screen and (min-width: 1200px) {
    .cardDeck {
        display: flex;
        margin-top: 70px;
        margin-left: 0px;
        justify-content: space-around;
        width: 100%;
    }

    .card {
        width: 500px;
        height: 600px;
    }

}

/* TODO : il faut faire un responsive pour les (petits) portables */

@media only screen and (max-width: 1200px) {
    .cardDeck {
        display: flex;
        margin-top: 100px;
        margin-left: 0px;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .card {
        width: 80vw;
        height: 720px;
        padding-bottom: 20px;
    }

    #card2 {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 600px) {
    .photocorentin {
        display: none;
    }
}
