
/* Style des trois liens*/
.link a:hover{
    text-decoration: none;
    color: darkcyan;
}
.link a {
    color: #333;
}

.link {
    width: 100%;
    margin-top: 50px;
    margin-left: 30px;
    text-align: left;
}