#content-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #333333;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-item {
    align-self: center;
    justify-self: center;
}

.link {
    text-decoration: none;
    color: white;
}